{% macro render_field(field) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.name }}-field">{{ field.label }}</label>
        {{ field(id=field.name+"-field", class="form-control") }}
        {% if field.errors %}
            <div class="help-block">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}
